<div class="container mt-5">
    <h4>Listado de clientes</h4>

    <form action="" class="mb-3">
        <div class="row">
            <div class="col-sm-3">
                <input class="form-control" type="text" placeholder="Buscar cliente">
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <img class="card-img-top"
                    [src]="cliente.url_imagen"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ cliente.nombre }} {{ cliente.apellido }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>